* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1121px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

:root {
  --colorBlack: rgb(0, 0, 0);
  --colorWhite: #ffffff;
  --colorHov: #999999;
  --colorBtn: #eaff96;
  --colorAct: rgb(20, 20, 20);
}
